
li {
  list-style: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    color:rgb(73, 73, 73)
}


.userImage {
  object-fit: cover;
  /* border: 1px solid #ddd; Gray border */
  border-radius: 50%;  /* Rounded border */
  padding: 5px; /* Some padding */
  height: 50px;
  width: 50px; /* Set a small width */
}
/* *********************************
search box
********************************* */
.searchBar {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  margin-bottom: 0;
}

.search_line {
  flex: 30%;
  padding: 20px;
  margin-right:5px;
  font-weight: 700;
  font-size: 18px;
  font-family: Roboto;
  color:rgb(73, 73, 73)
  
}


.teal {
  color: rgb(18, 132, 136)
  
}



/* *********************************
Rating Summary
********************************* */

.chartConatiner {
  text-align: left;
  margin: 20px;
  display: flex;
  width:70%;
  flex-wrap: wrap;
}


.chart {
  flex: 50%
  
}

.barHeader {
  opacity: 0;
  padding-top: 0;
  margin-top: 0;
  
}

/* *********************************
Review
********************************* */
.reviewLi {
  list-style: none;
  border-bottom-width: var(--border-rule-border-width, 1px) ;
  border-bottom-color: var(--color-divider, #EBEBEB); 
  border-bottom-style: solid ;
}

.thin_review {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.375em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
  overflow-wrap: break-word !important;
}

.ReviewContainer {
  margin-top: 24px;
  display: flex;
}

  .reviewInfo {
    flex: 90%;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
  }
 
  .reviewImg {
    flex: 10%;
    align-self: flex-start;
    
  }
  
.userName {
  
  font-weight: 600;
  font-family: Quicksand;
}

.date {
  font-weight: 400;
  font-family: Quicksand;
  font-size: 14px;
}


.reviewSpacer {
  margin-top: 24px;
  margin-bottom: 24px;
}

 /* REVIEW NAV BAR */



.pagination {
  width: 50%;
  -webkit-box-pack: start !important;
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

.pageLi {
  flex:5%;
  margin-left: 1em;
  list-style: none;
}

.pageButton:hover {
    text-align: center !important;
    background-color: rgb(0, 132, 137) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 16px !important;
}

.pageButton {
  text-align: center !important;
  background-color:rgb(255, 255, 255) !important;
  color: rgb(0, 132, 137) !important;
  border-radius: 16px !important;
}